/* TEAMMATE ONE EDITS THESE STYLES FOR YOUR TASKS */
/* Macy Eskelsen */

.logo img{
  width: 100px;
  height: 100px;
}

.logo img:hover {
  transform: scale(2) rotate(10deg);
  transition: width 2s, height 2s, rotate 3s;
  animation: rotate 2s ease;
}

@keyframes rotate {
  
}